




/*------------------------------------*\
    $SITIO
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 5em 0;
  text-align: center;
  color: $white;
}

.navbar-top {
  background-color: $color-brand;
  font-family: $baseheadingfont;
  text-transform: uppercase;
  font-weight: 700;
  height: 6rem;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: $white;
  @media #{$screen-medium} {
    display: block;
    height: auto;
    text-align: center;
  }
  &__brand {
    @media #{$screen-medium} {
      padding: 20px 0;
    }
    @media #{$screen-xsmall} {
      font-size: 1.8em;
    }
  }
  &__list {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    @media #{$screen-medium} {
      position: fixed;
      background: rgba(38, 61, 74, .9);
      top: 0;
      left: -100vw;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: .3s;
    }
    &.is-active {
      @media #{$screen-medium} {
        left: 0;
      }
    }
    li {
      display: flex;
      align-items: center;
      @media #{$screen-medium} {
        height: 50px;
        margin-bottom: .8em;
      }
    }
  }
  a {
    display: inherit;
    align-items: inherit;
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 0 10px;
    @media #{$screen-medium} {
      height: 40px;
      font-size: 2em;
    }
  }
}

.hero {
  @extend %section-flex;
  background-color: $color-secondary;
  &__name {
    @media #{$screen-small} {
      font-size: 30px;
    }
    @media #{$screen-xsmall} {
      font-size: 25px;
    }
  }
  &__skills {
    margin: 5px;
    font-size: 30px;
    @media #{$screen-small} {
      font-size: 18px;
    }
    @media #{$screen-xsmall} {
      font-size: 15px;
    }
  }
  &__resume-link {
    color: $white;
    font-weight: bold;
  }
}

.portfolio {
  background: $color-brand;
  .project {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,400px));
    grid-column-gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 60px;
    @media #{$screen-ipad} {
      margin: 60px 20px;
    }
    @media #{$screen-medium} {
      display: flex;
      flex-direction: column;
      margin: 0 10%;
      font-size: 18px;
    }
    @media #{$screen-small} {
      margin: 0 5%; 
    }
    @media #{$screen-xsmall} {
      margin: 10px 10px;
    }
    &__title {
      @media #{$screen-small} {
        font-size: 1em;
      }
    }
    &__imageContainer {
      position: relative;
      @media #{$screen-medium} {
        width: auto;
        margin-top: 60px;
      }
    }
    &__image {
      border-radius: 10px;
    }
    &__details {
      position: absolute;
      top: 60%;
      bottom: 0px;
      right: 0;
      left: 0;
      padding: 10px;
      font-family: &basefont;
      text-align: center;
      color: black;
      background: rgba(255, 255, 255, .8);
      border-radius: 0 0 9px 9px;
      @media #{$screen-medium} {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
    &__description {
      @media #{$screen-small} {
        font-size: 0.8em;
      }
    }
  }
}

.contact {
  @extend %section-flex;
  background-color: $color-secondary;
  &__form {
    display: flex;
    flex-direction: column;
    width: 500px;
    @media #{$screen-small} {
      width: 400px;
    }
    @media #{$screen-xsmall} {
      width: 100%;
    }
  }
  &__input {
    margin: 10px 0 0 0;
    padding: 10px;
  }
  &__message {
    margin: 10px 0 10px 0;
    padding: 10px;
    height: 200px;
    resize: none;
  }
  &__submit {
    width: 200px;
    height: 50px;
  }
}

.footer {
  background-color: $color-brand;
  height: 6rem;
  &__social-networks {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    a {
      text-decoration: none;
      color: white;
      font-size: 40px;
      margin-right: 20px;
      height: inherit;
    }
  }
}