/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/

/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
// Scss placeholder



%section-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}